.theme-display .title {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.theme-display button {
  appearance: none;
  border: none;
  background-color: var(--color-text);
  color: var(--color-bg);
  text-transform: uppercase;
  font-family: "Azeret Mono", monospace;
  padding: 0.25rem 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: var(--border-radius);
}