.home {
  width: 100vw;
  height: 100dvh;
  position: relative;
  overflow: hidden;
}

.page-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.button-group {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-inline: 1rem;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.button-group.visible {
  top: 0;
}

.button-group.hidden {
  top: -30%;
}

.button-group button {
  appearance: none;
  border: none;
  background-color: var(--color-dark);
  color: var(--color-light);
  text-transform: uppercase;
  font-family: "Azeret Mono", monospace;
  padding: 0.25rem 0.5rem;
  font-weight: 700;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  font-size: 1.5rem;
}
